@model WebAppsMedGithub.Models.Kunde

@{
    ViewBag.Title = "Velkommen";
}

@* Generer et skjema for å logge seg inn med brukernavn og passord fra database *@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container text-center">
        <h1 id="velkommen">Velkommen til Getflix!</h1>
        <h3>Stedet for å kjøpe de største filmene i verden digitalt!</h3>
    </div>    
    <div class="form-horizontal" id="index">

        <h4 class="text-center" style="font-weight:600">Logg inn for å komme igang!</h4>
        <p class="text-center">(For å logge inn som admin, registrer ny bruker med "admin" som brukernavn)</p><br/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form-inline">
            @Html.LabelFor(model => model.Brukernavn, htmlAttributes: new { @class = "control-label col-md-offset-2 col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Brukernavn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Brukernavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-inline">
            @Html.LabelFor(model => model.Passord, htmlAttributes: new { @class = "control-label col-md-offset-2 col-md-2", })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Passord, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Logg inn" class="btn btn-success" />
            </div>
        </div>
        <div class="form-group">
            <p class="text-danger text-center">@Session["FeilMelding"]</p>
        </div>
        <div class="form-group">
            <div class="text-center" style="padding-top:3%;">
                <p>Har du ikke bruker? @Html.ActionLink("Registrer deg her", "Registrer").</p>
            </div>
        </div>

    </div>
   
}

    
