@model IEnumerable<WebAppsMedGithub.Models.Filmer>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sjanger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lengde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storrelse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilde)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sjanger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lengde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Storrelse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bilde)
        </td>
        
    </tr>
}

</table>
