<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Getflix</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body style=" background-color: #808080; height: 100%; ">

    @* Lager et felles layout, hvor innholdet skal rendres *@

    @* Lager felles navbar *@

    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["AdminLoggetInn"] is bool && (bool)Session["AdminLoggetInn"] == true)
                {
                    @Html.ActionLink("Getflix - Admin", "Admin", "Admin", new { area = "" }, new { @class = "navbar-brand", id = "getflixKnapp" })
                }
                else
                {
                    @Html.ActionLink("Getflix", "HovedSide", "Home", new { area = "" }, new { @class = "navbar-brand", id = "getflixKnapp" })
                }
            </div>
            <div class="navbar-collapse collapse">

                @if (Session["AdminLoggetInn"] is bool && (bool)Session["AdminLoggetInn"] == true)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Kunder", "AdminKunder")</li>
                        <li>@Html.ActionLink("Filmer", "AdminFilm")</li>
                        <li>@Html.ActionLink("Bestilling", "AdminBestilling")</li>
                        <li><a href="http://localhost:63592/elmah.axd">Elmah Logs</a></li>
                    </ul>
                }

                @if ((Session["LoggetInn"] is bool && (bool)Session["LoggetInn"] == true) || (Session["AdminLoggetInn"] is bool && (bool)Session["AdminLoggetInn"] == true))
                {
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("Logg ut", "LoggUt")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("Registrer deg", "Registrer", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </div>

    @* Lager en felles body *@

    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
    </div>

    @* Lager felles footer *@

    @*<div class="text-center">
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Andreas Klophmann - Viktor Danielsen - Alexander William Ingvarsson Hals - Kristian Ludvig Grønvold</p>
        </footer>
    </div>*@

    <div class="footer">
        <p>&copy; @DateTime.Now.Year - Andreas Klophmann - Viktor Danielsen - Alexander William Ingvarsson Hals - Kristian Ludvig Grønvold</p>
    </div>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>