@model List<Model.Bestillinger>

@{
    ViewBag.Title = "AdminBestilling";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-sletteModal=true]').click(function () {
                var dataNavn = $(this).data('navn');
                var dataId = $(this).data('id');

                $('#slettNavn').html(dataNavn);

                $('#sletteModalKnapp').click(function () {
                    $.ajax({
                        url: '@Url.Action("SlettBestilling", "Admin")',
                        data: { id: dataId },
                        success: function () {
                            $.ajax({
                                url: '@Url.Action("AdminBestilling", "Admin")',
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
    <h2 class="text-center">Administrer Bestillinger</h2>
    <br />
    <div>
        <table class="table-striped col-sm-offset-1 col-md-10">
            <tr>
                <th>Bestillings id</th>
                <th>Brukernavn</th>
                <th>Film Id</th>
                <th colspan="3">Dato</th>
            </tr>
            @foreach (var best in Model)
            {
                <tr>
                    <td>@best.BId</td>
                    <td>@best.Brukernavn</td>
                    <td>@best.FId</td>
                    <td>@best.dato.ToShortDateString()</td>

                    <td class="text-right">
                        <a href="#sletteModal" class="btn btn-danger" id="sletteKnapp"
                           data-navn="@best.BId @best.Brukernavn @best.FId"
                           data-id="@best.BId" data-toggle="modal" data-sletteModal="true">Slett</a>
                    </td>
                </tr>
            }
        </table>
        @Html.Partial("sletteModal")
        @Html.Partial("endreModal")
    </div>

</body>