@model List<Model.Bestillinger>

@{
    ViewBag.Title = "AdminBestilling";
}
<head>
    <style>
        th {
            width: 14%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-sletteModal=true]').click(function () {
                var dataNavn = $(this).data('navn');
                var dataId = $(this).data('id');

                $('#slettNavn').html(dataNavn);

                $('#sletteModalKnapp').click(function () {
                    $.ajax({
                        url: '@Url.Action("SlettBestilling", "Admin")',
                        data: { id: dataId },
                        success: function () {
                            $.ajax({
                                url: '@Url.Action("AdminBestilling", "Admin")',
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });
            $('a[data-endreModal=true]').click(function () {
                var dataId = $(this).data('id');
                var dataBn = $(this).data('bn');
                var dataFId = $(this).data('fId');
                var dataDato = $(this).data('dato');
                

                $('#endreNavn').html("<tr><td>Bestillings id</td><td><input value='" + dataId +"' class='form-control'></input></td></tr>"
                    + "<tr><td>Brukernavn</td><td><input value='"+dataBn+"' class='form-control'></input></td></tr>"
                    + "<tr><td>Film id</td><td><input value='" + dataFId + "' class='form-control'></input></td></tr>"
                    + "<tr><td>Dato</td><td><input value='" + dataDato + "' class='form-control'></input></td></tr>");

                $('#endreModalKnapp').click(function () {
                    $.ajax({
                        url: '@Url.Action("EndreBestilling", "Home")',
                        data: { id: dataId },
                        success: function () {
                            $.ajax({
                                url: '@Url.Action("AdminBestilling", "Home")',
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Getflix - Admin", "Admin", "Home", new { area = "" }, new { @class = "navbar-brand", id = "getflixKnapp" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kunder", "AdminKunder")</li>
                    <li>@Html.ActionLink("Filmer", "AdminFilm")</li>
                    <li>@Html.ActionLink("Bestilling", "AdminBestilling")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Logg ut", "LoggUt")</li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Administrer Bestillinger</h2>
    <br />
    <div>
        <table>
            <tr>
                <th></th>
                <th>Bestillingsid id</th>
                <th>Brukernavn</th>
                <th>Film id</th>
                <th>Dato</th>

            </tr>
            @foreach (var best in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>@best.BId</td>
                    <td>@best.Brukernavn</td>
                    <td>@best.FId</td>
                    <td>@best.dato.ToShortDateString()</td>

                    <td>
                        <a href="#endreModal" class="btn btn-default" id="endreKnapp"
                           data-id="@best.BId" data-bn="@best.Brukernavn" data-fId="@best.FId"
                           data-dato="@best.dato" data-toggle="modal" data-endreModal="true">Endre</a>
                        <a href="#sletteModal" class="btn btn-danger" id="sletteKnapp"
                           data-navn="@best.BId @best.Brukernavn @best.FId"
                           data-id="@best.BId" data-toggle="modal" data-sletteModal="true">Slett</a>
                    </td>
                </tr>
            }
        </table>
        @Html.Partial("sletteModal")
        @Html.Partial("endreModal")
    </div>

</body>